/* Green text */
#best {color: green;}

/* Orange text */
#require {color: darkgoldenrod;}

/* Grey text */
#casual {
	color: grey;
	font-weight: 300;
}

/* Red text */
#important {
	color: firebrick;
	font-weight: 700;
}
