@font-face {
	font-family: SquareAntiqua;
	src: url("./fonts/SquareAntiqua-Book.ttf") format(truetype);
}

* {
	overflow-wrap: break-word;

	font-family: Cantarell,
	"Ink Free", "Consolas",
	"Helvetica Neue", -apple-system,
	SquareAntiqua, system-ui;
}
