/* Import fonts */
@font-face {
	src: url("./fonts/Cantarell-VF.otf") format(opentype);
	font-family: en-font_cantarell;
}

@font-face {
	src: url("./fonts/Ink\ Free.ttf") format(truetype);
	font-family: en-font_Ink-Free;
}

@font-face {
	src: url("./fonts/wqy-microhei-lite.ttc") format(truetype);
	font-family: cn-font_wqy-microhei-lite;
}



/* Where to display fonts */
* {
	font-family: cn-font_wqy-microhei-lite;
	overflow-wrap: break-word;
}

h1, h2,
.Menu a, .Download,
.Bottom-to-top a {
	font-family: en-font_Ink-Free;
}

#section {
	font-family: en-font_cantarell;
}
