/* Import fonts */
@font-face {
	src: url("./fonts/Cantarell-VF.otf") format(opentype);
	font-family: en-font_cantarell;
}

@font-face {
	src: url("./fonts/Ink\ Free.ttf") format(truetype);
	font-family: en-font_Ink-Free;
}



* {overflow-wrap: break-word;}

/* Where to display fonts */
h1, h2,
.Menu a, .Download,
.Bottom-to-top a {
	font-family: "Ink Free", en-font_Ink-Free, system-ui;
}

#section {
	font-family: Cantarell, en-font_cantarell, system-ui;
}
