body, h1, h2, #Footer p {margin: 0;}

body #Menu, body #Article,
body #Footer, #Article .container,
.container .subcontainer {margin: .5%;}
.container, .subcontainer {overflow-wrap: break-word;}

#Menu, #Article, #Footer,
.container, .subcontainer {
	padding: .5%;
	border: 2px solid white;
}


/* The submenu and the hyperlink  */
a {
	text-decoration: none;
	transition: all .2s ease-out;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	transition: all .2s ease-in;
}

#Menu #current:before {content: "At ";}



@media only screen and (max-width: 960px) {
	body #Menu, body #Article,
	body #Footer, #Article .container,
	.container .subcontainer{margin: 1%;}

	#Menu, #Article,
	.container, .subcontainer {padding: 1%;}
}

@media only screen and (max-width: 720px) {
	body #Menu, body #Article,
	body #Footer, #Article .container,
	.container .subcontainer{margin: 1.5%;}

	#Menu, #Article,
	.container, .subcontainer {padding: 1.5%;}
}

@media only screen and (max-width: 480px) {
	body #Menu, body #Article,
	body #Footer, #Article .container,
	.container .subcontainer{margin: 2%;}

	#Menu, #Article,
	.container, .subcontainer {padding: 2%;}
}
