h1, h2, p, table, ol {color: #000000;}

body, #Menu, #Article, #Footer,
.container, .subcontainer,
.functionbuttons {background-color: #ffffff;}

#current {color: #009999;}
a, .available {color: #00cccc;}
