body, h1, h2, #Footer p {margin: 0;}

body #Menu, body #Article, body #Footer,
#Article .container,
#Footer .functionbuttons,
.container .subcontainer {margin: .5%;}

#Menu, #Article, #Footer,
.container, .subcontainer,
.functionbuttons {
	padding: .5%;
	border: 2px solid white;
}
.container, .subcontainer {word-wrap: break-word;}

#Footer {text-align: center;}

ol {padding-inline-start: 22px;}



/* The submenu and the hyperlink  */
a {
	text-decoration: none;
	transition: all .2s ease-out;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	transition: all .2s ease-in;
}

#Menu a {display: block;}
#Menu #current:before {content: "At ";}



/* Display */
@media only screen and (max-width: 960px) {
	body #Menu, body #Article, body #Footer,
	#Article .container,
	#Footer .functionbuttons,
	.container .subcontainer {margin: 1%;}

	#Menu, #Article, #Footer,
	.container, .subcontainer,
	.functionbuttons {padding: 1%;}
}

@media only screen and (max-width: 720px) {
	body #Menu, body #Article, body #Footer,
	#Article .container,
	#Footer .functionbuttons,
	.container .subcontainer {margin: 1.5%;}

	#Menu, #Article, #Footer,
	.container, .subcontainer,
	.functionbuttons {padding: 1.5%;}
}

@media only screen and (max-width: 480px) {
	body #Menu, body #Article, body #Footer,
	#Article .container,
	#Footer .functionbuttons,
	.container .subcontainer {margin: 2%;}

	#Menu, #Article, #Footer,
	.container, .subcontainer,
	.functionbuttons {padding: 2%;}
}
