/* */
@font-face {
    font-family: "lgc";
    src: url("font-family/Louis George Cafe.ttf") format("truetype");
}

@font-face {
    font-family: "lgc";
    font-weight: bold;
    src: url("font-family/Louis George Cafe Bold.ttf") format("truetype");
}


/* */
body, h1, h2, p { margin: 0; padding: 0; }

body {
    display: flex;
    flex-direction: column;

    margin: 2px;
    word-wrap: break-word;

    font-size: 16px;
    font-family: "lgc", serif;
    background-color: #f9f9f0;
}

h1  { font-size: 1.7em; line-height: 1.4em; }
h2  { font-size: 1.5em; line-height: 1.4em; }
p   { font-size: 1.3em; color: #c06633; }
u   { background-color: #ffffff; text-decoration: 1px underline; }

a {
    color: #456699;
    font-size: 22px;
    text-decoration: none;
    transition: all .16s linear;
}

a:hover {
    color: #7899cc;
    text-decoration: 1px underline dotted;
}

table {
    padding: 8px;
    border: 1px solid #999999;
    background-color: #fcfcfc;
}


/* */
#menu, #content {
    display: flex;
    padding-inline: 33vh;
    flex-direction: column;
    line-height: 2.2em;
}

#current    { font-weight: bold; }
#note       { font-size: 10px; margin-top: -12px; margin-bottom: -6px; }
#footer     { padding-inline: 33vh; display: flex; flex-direction: row; }


/* */
.ret            { height: 1.1em; }
._button        { margin-right: 33px; transition: all .16s linear; }
._button p:hover  { color: #000000; }

#menu {padding-bottom: 24px;}
.text {padding-bottom: 24px;}


/* */
@media only screen and (max-width: 1280px) {
    #menu, #content, #footer {padding-inline: 16vh;}
}

@media only screen and (max-width: 960px) {
    #menu, #content, #footer {padding: 4px;}
}

