/* Different Devices */
/* > 2k laptop */
@media only screen and (min-width: 1920px) and (max-width: 2560px){
    body { font-size: 18px }
    #menu, #content, #footer { padding-inline: 40vh }
}

/* Transition */
@media only screen and (min-width: 1800px) and (max-width: 1920px) {
    #menu, #content, #footer { padding-inline: 32vh }
}

/* Transition */
@media only screen and (min-width: 1680px) and (max-width: 1800px) {
    #menu, #content, #footer { padding-inline: 24vh }
}

/* Transition */
@media only screen and (min-width: 1440px) and (max-width: 1680px) {
    #menu, #content, #footer { padding-inline: 16vh }
}

/* > 1k laptop */
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    #menu, #content, #footer { padding-inline: 8vh }
}

/* > 1k tablet */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
    #menu, #content, #footer { padding: 4px }
}

/* > .5k mobile */
@media only screen and (min-width: 480px) and (max-width: 960px) {
    #menu, #content, #footer { padding: 4px }
}

/* < .5k mobile */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    #menu, #content, #footer { padding: 2px }
}
